<% include partials/header %>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://i.ytimg.com/vi/kLAnVd5y7M4/maxresdefault.jpg" class="img" alt="Responsive image">
            <div class="caption">
                <h3>Short term goals</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="/budget/stg/new" class="btn btn-primary" type="stg" role="button">Create</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://vignette2.wikia.nocookie.net/despicableme/images/4/49/Despicable_me_2013102544941.JPG/revision/latest?cb=20131024212712" class="img-rounded" alt="Responsive image">
            <div class="caption">
                <h3>Long term goals</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="/budget/ltg/new" class="btn btn-primary" type="ltg" role="button">Create</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://heritagetrust.com/wp-content/uploads/2017/01/investment.jpg" class="img-rounded" alt="Responsive image">
            <div class="caption">
                <h3>Investments</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="/budget/i/new" class="btn btn-primary" type="i" role="button">Create</a></p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>